<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%= action_cable_meta_tag %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "/images/ico.png", id: "favicon" %>
  </head>
  <body>
    <div id="react-helper"></div>
    <div id="react-wrapper"></div>
    <div class="ajax-loading">
      <div class="ajax-bg"></div>
      <div class="image-loading">
        <%= render "shared/loading" %>
      </div>
    </div>
  </body>
</html>
